.history
*.tar.gz
build/
data/
*.run
ubsv
.DS_Store
*.pprof
.idea/
keyfile.json
bitcoin-data/
ids-20.txt
*.bin

node_modules
.svelte-kit
package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*

.vercel
.output

vite.config.ts.timestamp-*

*.private_key

coverage.out

*.prof
/model/test-generated_test_data/
/model/big-test-generated_test_data/
/services/validator/test-generated_test_data/
/util/test/test-generated_test_data
bins/

.sentryclirc

kustomization.yaml.bak

*.dump

cmd/testUtil/compose/docker-compose.yml
cmd/testUtil/compose/generator/scripts/postgres/init.sql
docker-compose-generated.yml
