
.history/**
*.tar.gz
build/
data/
*.run
.DS_Store
*.pprof
*.out
.idea/
.vscode/
.cursorrules
keyfile.json
bitcoin-data/
ids-20.txt
*.bin
*.test

node_modules
.svelte-kit
package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*

.vercel
.output

vite.config.ts.timestamp-*

*.private_key

coverage.out
golangci-lint-report.xml
sonar_filename_report.json

*.prof
/model/test-generated_test_data/
/model/big-test-generated_test_data/
/services/validator/test-generated_test_data/
/util/test/test-generated_test_data
bins/

.sentryclirc

kustomization.yaml.bak

*.dump

# Local Claude configuration (user-specific)
CLAUDE.local.md

*.log

cmd/testutil/compose/docker-compose.yml
cmd/testutil/compose/generator/scripts/postgres/init.sql
docker-compose-generated.yml
chainextract.log
teranode-cli

current

compose/grafana/grafana.db/

vendor

.ipynb_checkpoints/
unit-tests.xml
*ctrf-report.json
__debug*

nohup.out
external/

stores/utxo/aerospike/testdata/337e211af7bcf90470ead4f92910b2990b635dcab8414bf5849f3b1e25800b0c.hex
stores/utxo/aerospike/testdata/337e211af7bcf90470ead4f92910b2990b635dcab8414bf5849f3b1e25800b0c_extended.hex
scripts/k8s/operator/image_name.tmp
scripts/k8s/testing/image_name.tmp

/generate_protos.sh
/custom_template.tmpl

node*-data

teranode-cli
site/

test/longtest/services/validator/mainnet_large_txs.csv
test/longtest/services/validator/mainnet_14207txs_b886413.csv
test/longtest/services/validator/testnet_18869txs_b1682153.csv
.sonarlint/

plantuml.jar
teranode_peers.json
*.key
