/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-ThinItalic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Thin.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
} */

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-ExtraLight.woff2') format('woff2');
}

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-LightItalic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Light.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Italic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Regular.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-MediumItalic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Medium.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-SemiBold.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-BoldItalic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Bold.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-ExtraBold.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Black.woff2') format('woff2');
} */
