/* has no thin, aka font-weight: 100 */

/* has no extralight, aka font-weight: 200 */

/* @font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-lightitalic-webfont.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-light-webfont.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-italic-webfont.woff2') format('woff2');
} */

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-regular-webfont.woff2') format('woff2');
}

/* @font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-mediumitalic-webfont.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-medium-webfont.woff2') format('woff2');
} */

/* has no semibold, aka font-weight: 600 */

/* @font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-bolditalic-webfont.woff2') format('woff2');
} */

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-bold-webfont.woff2') format('woff2');
}

/* has no extrabold, aka font-weight: 800 */

/* @font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-blackitalic-webfont.woff2') format('woff2');
} */

/* @font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/satoshi/satoshi-black-webfont.woff2') format('woff2');
} */
