name: Teranode main pull request test build

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read
  id-token: write

env:
  SETTINGS_CONTEXT_DEFAULT: test

jobs:
  # Tests and code lint
  test_and_lint:
    uses: ./.github/workflows/teranode_pr_tests.yaml
    secrets: inherit

  # Calculate version information
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      git_version: ${{ steps.version.outputs.git_version }}
      git_commit: ${{ steps.version.outputs.git_commit }}
      git_sha: ${{ steps.version.outputs.git_sha }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for tags
      - name: Calculate version
        id: version
        run: ./scripts/determine-git-version.sh

  # Run remote build and deploy workflow -- BUILDS DISABLED 08/26/2025
  # build-and-deploy:
  #   needs: calculate-version
  #   uses: bitcoin-sv/.github/.github/workflows/build_and_deploy.yaml@main
  #   permissions:
  #     contents: read
  #     packages: write
  #     id-token: write
  #   with:
  #     repository: ${{ github.repository }}
  #     tag_latest: false
  #     build_args: |
  #       DEBUG=true
  #       GIT_VERSION=${{ needs.calculate-version.outputs.git_version }}
  #       GIT_COMMIT=${{ needs.calculate-version.outputs.git_commit }}
  #       GIT_SHA=${{ needs.calculate-version.outputs.git_sha }}
  #     use_packages: true
  #     use_ecr: true
  #     push: false
  #     ecr_region: "eu-north-1"
  #     ecr_repo: "teranode"
  #     architectures: '["amd64", "arm64"]'
  #     runner_labels: '{"amd64":"teranode-runner","arm64":"teranode-runner-arm","manifest":"ubuntu-latest"}'
  #   secrets: inherit

  # Run chain integrity test
  # Chain Integrity is currently disabled for PRs because of slowness and fuzziness, it's still enabled for main branch pushes.
#  chainintegrity:
#    needs: build-and-deploy
#    #uses: ./.github/workflows/chainintegrity-3blasters.yaml
#    uses: ./.github/workflows/chainintegrity.yaml
#    permissions:
#      contents: read
#      pull-requests: read
#      id-token: write
#      packages: read
#    secrets: inherit
